.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* min-height: calc(100vh - 85px);  */
  padding: 4rem 0;
  position: relative;
  background-image: url('../assets/background.jpg');
  background-color: var(--background-dark); /* Fallback color */
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(12, 11, 26, 0.849); /* Dark overlay */
  z-index: 1;
}

.hero-content {
  max-width: 950px;
  margin: 0 auto;
  position: relative;
  z-index: 2; /* Ensure content is above overlay */
}

.hero-tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  background-color: rgba(12, 11, 26, 0.5);
  border-radius: 20px;
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.hero-main-title {
  font-size: 3.7rem;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: 1.5rem;
  color: #E6E0FF;
  /* background: linear-gradient(90deg, #e0e0e0, #a0a0e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
}

.hero-subtitle {
  font-size: 1.1rem;
  line-height: 1.7;
  color: var(--text-color);
  opacity: 0.8;
  margin-bottom: 2.5rem;
  padding: 0 1rem;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.hero-subtitle strong {
  font-weight: 700;
  color: #fff;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.btn {
  padding: 0.9rem 2.2rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 1rem;
}

.btn-primary-hero {
  background: linear-gradient(90deg, #8A2BE2, #C71585);
  color: white;
  box-shadow: 0 4px 20px rgba(138, 43, 226, 0.4);
}

.btn-primary-hero:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 25px rgba(138, 43, 226, 0.6);
}

.btn-secondary-hero {
  background: transparent;
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.btn-secondary-hero:hover {
  background-color: var(--border-color);
  color: #fff;
}

.hero-section-short {
  min-height: 350px;
  padding: 4rem 0;
}

.highlight-text {
  background: linear-gradient(90deg, rgba(138,43,226,0.8), rgba(199,21,133,0.8));
  padding: 8px 18px;
  border-radius: 50px;
  display: inline-block;
  color: #fff !important;
}

@media (max-width: 768px) {
  .hero-main-title {
    font-size: 2.8rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
} 